/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0 }
.margin-top { margin-top: 16px; }

.horizontal-padding {
margin-left: 16px;
margin-right: 16px;
}
.flex-spacer {
flex: 1 1 auto;
}

@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-green,300);
  $accent: mat-palette($mat-green,100);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);